
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Details below</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon size="large" color="tertiary" name="bookmark-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Message:</h2>
          <p>    {{val1?val1:''}}</p>
        </ion-label>
      </ion-item>
      
      
    </ion-list>
  </ion-card>
</ion-content>
