ion-card{
    // border: 1px dotted #888!important;
    // display: flex;
}
ion-card ion-item{
    height:calc(100vh - 85vh);
    display:flex;
}
ion-grid ion-col{
    justify-content: center;

    ion-icon{
        margin: 25px;
    }
}
