.hero {
    display: block;
    box-sizing: border-box;
    // height: 500px;
    /* border:1px solid #888; */
    background: linear-gradient(#669cc3,#75b798);
    clip-path: ellipse(75% 100% at 65% 0%);
    }
label{
    color:#444
}
.lg-title{

    text-shadow: 0 1px 1px #111111;
}
    ion-tab-bar{
        position: absolute;
        bottom: 0;left:0;right:0;width: 100%;
        // background: rgba(0,0,0,.6);
    }
    .lg-card{
        padding: 30px 15px;
        box-shadow: 0 1px 2px #000;
        border-radius: 3px;
        background: #c3add8;
    }
    #container {
        text-align: center;
      
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }