<ion-content>

  
  <div *ngIf="usersList.length>0">
    <div *ngFor="let a of usersList">
        {{a.name}}
    </div>

  </div>
</ion-content>
<ion-tabs>
  <ion-tab-bar color="mytext" slot="bottom">
    <ion-tab-button tab="mimic">
      <ion-icon  name="speedometer"></ion-icon>
      <ion-label >Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signup">
      <ion-icon  name="bar-chart-outline"></ion-icon> 
      <ion-label >Sign Up</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>